<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>{% block title %}{% block pretitle %}{% endblock %}Prestige Worldwide{% endblock %}</title>
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css" type="text/css" media="all">
  <!--[if IE]>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="all">
  <![endif]-->
  {% block extrahead %}
  {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>